body
	font-size 16px
	color black
	background white
figure
	margin 0
img 
	vertical-align top
	
.centerLayer
	display inline-block
	vertical-align top

.fondo
	background white
	font-size 0
	margin 0 
	padding 0 0 0 10rem
	width 815px
	height 315px
	h2
		text-align center
		font-family "Indie Flower", cursive
		font-size 2.5rem
		font-weight 6.25rem
		margin 0.5rem 0
		padding 0
	p
		margin 2rem 0
		font-family "Poiret One", cursive
	
	
.leftLayer
.rightLayer
	background white
	display inline-block
	font-size 1rem
	height 19.6rem
	vertical-align top
	width 10rem
	
