@import "icons.styl"
*, *:before
	box-sizing border-box
body
	font-size 16px
li
	list-style none
a
	text-decoration none
figure, ul, li, img
	padding 0
	margin 0

#menu-main
	margin-top 3px

.big-menu, .navbar-default
	border none
	margin-bottom 0
	top 0
	left 0
	width 100%
	z-index 1010

	
.brand-on-mobile, .menu-toggle
	position absolute
	top 50px
	left 15px
.brand-on-mobile
	display none 
	left 41px
.brand-on-mobile i
	font-size 48px
	color #fff
	text-align center
	padding-top 12px	
.container
	margin-left auto
	margin-right auto
	padding-left 15px
	padding-right 15px

.header-big #menu-main
	margin 0
.header-wrapper
	position fixed
	height 120px
	z-index 901

.icon-logo
	font-size 23px
	color #000
	text-align center
	

.catalogo-item
	-webkit-transition border 5s
	border 18px solid #fff
	overflow hidden
	position relative
	text-align center
	&:before
		content ""	
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		background rgba(0,0,0,0.6)
		boder 0 solid #fff
		z-index 1
		webkit-transition all 16s ease-out

.item
	display inline-block
	marging 0
	padding 0
	position relative
	width 100%
	&-figure
		height 23.5em
		width 23.5em
		background green
		&-image
			width auto
			height 100%
.info
	background rgba(0,0,0,0.5)
	left 1.6em
	opacity 1
	position absolute
	top 2em
	&-price
		color white
		font-size 2em
	&-currency	
		display inline-block
		font-size 0.6em
		vertical-align top			
	&-number
		display inline-block
	
	&-details
		background white
		color black
		font-weight 300px
		left 50%
		padding 3em 2em
		position absolute
		top 50%
		&:hover
			text-decoration none
			color black
			text-width 


.menu-toggle
	width 42px
	height 42px
	border 2px solid red
	padding-top 22px
	text-align center
	cursor pointer
	opacity 0
	visibility hidden
	-webkit-transition all 1s ease-out
	z-index 1011
	.icon-cancel
		font-size 28px
		color #000
		position relative
		top -16px
		left 0px
		display none
	
	
.menu-trigger
	margin 0
	position absolute
	top 0
	bottom 0
	width 100%
	padding-top 10px
	overflow hidden
	background blue
	& button
		background yellow
		border 0
		outline 0
		overflow hidden
		& span
			height 2px
			width 20px
			background #000
			margin-top 4px
			display block
			-webkit-transform translateX(-50px)
			-webkit-transition all .2s ease-out
			&:first-child
				margin-top 0
		
.navbar
	.navbar-brand
		left 3px
		margin-left 0
		overflow hidden
		padding 0
		position relative
		z-index 100

.navbar, .brand-on-mobile 
	.navbar-brand
		padding-top 21px
		
.navbar-default
	-webkit-transition opacity .3s ease-out
	padding 37px 7px
	position absolute
	background transparent


.navbar-default, .big-menu
	.navbar-nav > li > a
		color rgba(0,0,0,.55)
		line-height 1.2
		display inline-block
		font-weight 400
		font-size 15px
		border-color transparent
		-webkit-transition color .3s ease-out

.navbar-collapse.collapse
	text-align center
	margin-top 13px
	padding 0
	
.navbar-default
	.navbar-collapse
	.navbar-form
		border none
		box-shadow none
		
.navbar-nav
	display inline-block
	float none
	margin 0
	
@media screen and (max-width:991px)
	#menu-main
		display none
		
	.header-big #menu-main
		display block
	.menu-toggle
		opacity 1
		visibility visible
	.menu-trigger
		& button span
			-webkit-transform translateX(0)
	.navbar
		.navbar-brand
			left 52px
				
@media screen and (max-width:767px)
	#menu-main
		margin-left 0
		text-align center
		width 100%
		
	.container
		padding-left 0
		padding-right 0
		
	.header-wrapper
		width 100%
		left 0
		margin-left 0 !important
		background blanchedalmond
	.navbar-collapse.collapse
		display block
			
	.navbar-default
		padding-top 4px
	.navbar
		.navbar-brand
			left 48px
	.menu-toggle
		top 17px
		left 10px
		
	
					
@media screen and (max-width:677px)	
	.catalogo-item
		height 430px
	.item
		&-figure
			width 100%
			height 100%
			
			&-image
				width 100%
				height auto

@media screen and (max-width:400px)
	.navbar-collapse.collapse
		padding-bottom 0

		
		