figure
	margin 0
	padding 0
header, footer
	background #33FF99BB
	min-height 100px

.flex-container
	display flex
	background #33FF12BB
	
	
.interno
	-webkit-flex 2 0 0
	display flex
	-webkit-flex-flow column
	-webkit-justify-content space-around
	-webkit-align-items stretch
	background purple
	position relative
.lateral
	-webkit-flex 0.3 0 0

.imagen
	width 100%
	height auto
	background red
	img
		width 100%
	

	
.description
	
	background yellow
	
	