@import("fonts.styl")

body
	font-size 16px
figure
	margin 0
	padding 0
li
	list-style none	
img
	margin 0

.access
	background black
	color white
	overflow hidden
	width 100%
	&-social
		background green
		float left
		font-size 2em
		text-align center
		width 70%
	&-resume
		width 30%
		float left

.facebook
	background #133783	
.footer
	height 100%
	margin 0 auto
	
	
.github
	background #CCCCCC
.header
	background gray
	height 2em
	margin 0
	padding 0
	position relative
	&-menu
		background red
		display inline-block
		margin 0
		padding 0		
		position absolute
		right 0
		width 80%
	&-list
		left 0
		list-style none
		margin 0 auto
		padding 0
		right 0
		display table
		font-size 1.5em
		&.even
			table-layout fixed
			width 100%
	&-item
		display table-cell
		padding-left 1em
		padding-right 1em
	&-link
		color white
		display block
		outline 0
		text-decoration none
	&-logo
		background yellow
		display inline-block
		left 0
		margin 0
		position absolute
		width 20%
		font-size 1.5em
.image
	width 100%
	&-client	
		width 100%

.linkedin
	background #1981BA
	
.portrait
	background white
	font-size 0
	height auto
	margin 0 auto
	position relative
	width 100%
	&-left
		background gray
		display inline-block
		font-size 0
		width 25%
		
	&-center
		background chocolate
		display inline-block
		font-size 0
		vertical-align top
		width 50%
		
	&-right
		background green
		display inline-block
		font-size 0
		width 25%


.resume
	&-title
		display block
		margin-top 1em
		text-align center
	&-link
		display block
		margin-top 1em
		position relative
		text-align center
		text-decoration none
		outline 0
		&:before
			background red
			border-radius 100%
			color white
			font-size 2em
			padding .3em
			text-align center
			
	
		
				
.social
	&-icons
		font-size 1.8em
		margin 0
		margin-bottom .5em
		padding 0
	&-item
		display inline-block
	&-link
		border-radius 100%
		color white
		text-decoration none
		outline 0
.twitter
	background #55ACEE

@media screen and (max-width: 767px)
	.header
		&-logo
			font-size 1em
		&-list
			font-size 1em
		
@media screen and (max-width: 480px)
	.portrait
		&-center
			width 100%
		&-left
			display none
		&-right
			display none
	.access
		&-social
			font-size 1em
	.social
		&-link
			font-size 1.4em